<div class="container">

      <form class="form-signin" style="width:25%; margin: auto; ">
        <h2 class="form-signin-heading">Create a new user</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus ng-model="ctrl.user.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="ctrl.user.password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" ng-click="ctrl.adduser()">Create</button>
      </form>
    </div>