<div>
    <input type="text" placeholder="Number of passengers" ng-model="ctrl.persons" class="form-control" style="width: 15%; display: inline-block;">

    <select class="form-control" ng-model="ctrl.data.from" ng-options="option for option in ctrl.opt" style="display: inline-block; width: 15%;">
        <option value="" disabled="">Select Origin</option>
<!--        <option value="STN">STN</option>-->
    </select>

        <select class="form-control" name="singleSelect" ng-model="ctrl.data.to" ng-options="option for option in ctrl.opt" style="display: inline-block; width: 15%;">
        <option value="" disabled="">Select Destination</option>
    </select>

    <input type="date" ng-model="ctrl.inputDate" class="form-control" style="display: inline-block; width: 15%;">

    <button ng-click="ctrl.getAllFlightsFromDate(ctrl.data.from, ctrl.data.to, ctrl.inputDate, ctrl.persons);
                " class="form-control" style="display: inline-block; width: 15%;">Tryk her</button>


    <!--    <div>
            <table class="table table-striped" ng-show="showme" style="background: #b3cccc;">
                <thead>
                    <tr>
                        <th>CVR-number</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ctrl.data.airline}}</td>
    
                        <td>Aktiv</td>
                    </tr>
                </tbody>
            </table>-->

    <hr style="background: #b3cccc; margin-bottom: 50px; margin-top: 20px; height: 7px;">
    <uib-accordion ng-repeat="d in ctrl.data" ng-show="ctrl.showme">
        <uib-accordion-group heading="{{d.airline}}" style="margin: 1px; background: #e0ebeb;">
            <table class="table">
                <thead>
                    <tr>
                        <th>flightID</th>
                        <th>numberOfSeats</th>
                        <th>date (Local time in Denmark)</th>
                        <th>totalPrice</th>
                        <th>travelTime</th>
                        <th>origin</th>
                        <th>destination</th>
                        <th>flightNumber</th>





                    </tr>  
                </thead>
                <tbody>
                    <tr ng-repeat="f in d.flights">
                        <td>{{f.flightID}}</td>
                        <td>{{f.numberOfSeats}}</td>
                        <td>{{f.date | date : 'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{f.totalPrice}}</td>
                        <td>{{f.traveltime}}</td>
                        <td>{{f.origin}}</td>
                        <td>{{f.destination}}</td>
                        <td>{{f.flightNumber}}</td>







                    </tr>
                </tbody>
            </table>

        </uib-accordion-group>
    </uib-accordion>

</div>
