<div>
    <div class="inner divbox">
        <span style="display: inline-block; width: 17%;">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" placeholder="Number of passengers" ng-model="ctrl.persons" class="form-control">
            </div>
        </span>

        <span style="display: inline-block; width: 15%;">
            <select class="form-control" ng-model="ctrl.data.from" ng-options="option for option in ctrl.opt">
                <option value="" disabled="">Select Origin</option>
                <!--        <option value="STN">STN</option>-->
            </select>
        </span>

        <span style="display: inline-block; width: 15%;">
            <select class="form-control" name="singleSelect" ng-model="ctrl.data.to" ng-options="option for option in ctrl.opt">
                <option value="" disabled="">Select Destination</option>
            </select>
        </span>


        <script>
                    $(function () {
                        $("#datepicker-8").datepicker({
                            prevText: "click for previous months",
                            nextText: "click for next months",
                            showOtherMonths: true,
                            selectOtherMonths: false,
                            //dateFormat: "yy-mm-dd"
                        });
                        $("#datepicker-9").datepicker({
                            prevText: "click for previous months",
                            nextText: "click for next months",
                            showOtherMonths: true,
                            selectOtherMonths: true,
                            dateFormat: "dd-mm-yy"
                        });
                    });
        </script>
        <span style="display: inline-block; width: 12%;">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input  type="date" ng-model="ctrl.inputDate" class="form-control" placeholder="Start date">
            </div>
        </span>

        <span style="display: inline-block; width: 12%;">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input id="datepicker-9" type="text" ng-model="ctrl.inputDate2" class="form-control" placeholder="End date">
            </div>
        </span>



        <span style="display: inline-block; width: 17%;">
            <button ng-click="ctrl.getAllFlightsFromDate(ctrl.data.from, ctrl.data.to, ctrl.inputDate, ctrl.persons)" class="form-control blubtn">Tryk her</button>
        </span>
        

    </div>



<!--        <div>
            <table class="table table-striped" ng-show="showme" style="background: #b3cccc;">
                <thead>
                    <tr>
                        <th>CVR-number</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ctrl.data.airline}}</td>
    
                       
                    </tr>
                </tbody>
            </table>-->

    <uib-accordion ng-repeat="d in ctrl.data" ng-show="ctrl.showme">
        <uib-accordion-group heading="{{d.airline}}" style="margin: 1px; background: #e0ebeb;">
            <table class="table">
                <thead>
                    <tr>
                        <th>flightID</th>
                        <th>numberOfSeats</th>
                        <th>date (Local time in Denmark)</th>
                        <th>totalPrice</th>
                        <th>travelTime</th>
                        <th>origin</th>
                        <th>destination</th>
                        <th>flightNumber</th>





                    </tr>  
                </thead>
                <tbody>
                    <tr ng-repeat="f in d.flights">
                        <td>{{f.flightID}}</td>
                        <td>{{f.numberOfSeats}}</td>
                        <td>{{f.date | date : 'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{f.totalPrice}}</td>
                        <td>{{f.traveltime}}</td>
                        <td>{{f.origin}}</td>
                        <td>{{f.destination}}</td>
                        <td>{{f.flightNumber}}</td>







                    </tr>
                </tbody>
            </table>

        </uib-accordion-group>
    </uib-accordion>

</div>
