<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">   
        <link href="newcss.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="app/app.css">   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/view1/view1.js"></script>
        <script src="app/view2/view2.js"></script>
        <script src="app/view3/view3.js"></script>
        <script src="app/view4/view4.js"></script>
        <script src="app/view5/view5.js"></script>
        <script src="app/viewD/viewD.js"></script>
        <script src="app/components/auth.js"></script>
        <script src="app/components/filters.js"></script>
        <script src="app/components/directives.js"></script>
        <script src="app/components/factories.js"></script>
        <script src="app/components/services.js"></script>
        <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    </head>
    <body ng-app="myApp">

        
        <script>
            (function ($) {
                $(document).ready(function () {
                    $('#cssmenu').prepend('<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>');
                });
            })(jQuery);1
        </script>


        <div id="cssmenu">
            <nav role="navigation" ng-controller="AppLoginCtrl">
                <div>
                    <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">{{title}}</a>
                    </div>
                    <div class="collapse navbar-collapse nav-collapse" uib-collapse="isCollapsed" id="myNavbar">
                        <ul>
                            <li style="float: left;" ng-class="{ active: isActive('/view1')}"><a href="#/view1"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                            <!--<li ng-class="{ active: isActive('/viewD')}"><a href="#/viewD">Documentation</a></li>-->
                            <li style="float: left;" ng-class="{ active: isActive('/view5')}"><a href="#/view5"><span class="glyphicon glyphicon-user"></span> Create user</a></li>
                            <li style="float: left;" ng-class="{ active: isActive('/view2')}"><a href="#/view2"><span class="glyphicon glyphicon-map-marker"></span> Flights</a></li>
                            <!--<li style="float: right;" ng-class="{ active: isActive('/view4')}"><a href="#/view4">login</a></li>-->
                            <li style="float: right; padding-top: 3px;" class="nohover">
                                <div>
                                    <form class="navbar-form navbar-right" role="form" ng-show="!isAuthenticated" ng-submit="login()"  >
                                        <div class="form-group">
                                            <input type="text" style="width:10em;" placeholder="User name" class="form-control"
                                                   ng-model="user.username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" style="width:10em;" placeholder="Password" class="form-control"
                                                   ng-model="user.password">
                                        </div>
                                        <button type="submit" style="background-color: #0f71ba;" class="btn btn-primary blubtn">Sign in</button>
                                    </form>
                                    <div class="navbar-right" ng-show="isAuthenticated" style="padding-top: 7px;">

                                        <label style="color: white;" class="navbar-text">Logged on as: {{username}}</label>

                                        <button type="submit" style="background-color: #0f71ba;" class="btn btn-primary blubtn"  ng-click="logout()">Logout
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <!--                            <li ng-class="{ active: isActive('/view3')}"><a href="#/view3">All Users</a></li>-->

                        </ul>
                        <!--                        <div>
                        
                                                    <form class="navbar-form navbar-right" role="form" ng-show="!isAuthenticated" ng-submit="login()"  >
                                                        <div class="form-group">
                                                            <input type="text" style="width:10em;" placeholder="User name" class="form-control"
                                                                   ng-model="user.username">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" style="width:10em;" placeholder="Password" class="form-control"
                                                                   ng-model="user.password">
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Sign in</button>
                                                    </form>
                                                    <div class="navbar-right" ng-show="isAuthenticated">
                        
                                                        <p class="navbar-text"> <b>Logged on as:</b> {{username}}</p>
                        
                                                        <button type="submit" class="btn btn-primary navbar-btn"  ng-click="logout()">Logout
                                                        </button>
                                                    </div>
                                                </div>-->
                    </div>
                </div>
            </nav>

            <div class="container">
                <div style="margin-top: 60px;">
                    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                    <div ng-view></div>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="errorModal.html">
            <div class="modal-header">
            <h3 class="modal-title">Error!</h3>
            </div>
            <div class="modal-body">
            <p>{{error}}</p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>

    </body>
</html>
